---
http_interactions:
- request:
    method: post
    uri: https://api.fitbit.com/1/user/-/body/log/weight.json
    body:
      encoding: US-ASCII
      string: weight=157.0&date=2013-05-23
    headers:
      Authorization:
      - OAuth oauth_consumer_key="10376ff9b94943299fb1cdc6dbaceea7", oauth_nonce="44b7d90597bd8db1faa344e8c1c338c0",
        oauth_signature="OUDqUIp6gKd9QwwLaA570NToSdM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376278089", oauth_token="33f014c5380c47cc74ac3c6698f2d025",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Www-Authenticate:
      - OAuth realm="https%3A%2F%2Fapi10.fitbit.com"
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"errors":[{"errorType":"oauth","fieldName":"oauth_access_token","message":"Invalid/expired
        user token: 33f014c5380c47cc74ac3c6698f2d025"}]}'
  recorded_at: Mon, 12 Aug 2013 03:28:10 GMT
- request:
    method: post
    uri: https://api.fitbit.com/1/user/-/body/log/fat.json
    body:
      encoding: US-ASCII
      string: fat=22.0&date=2013-05-23
    headers:
      Authorization:
      - OAuth oauth_consumer_key="10376ff9b94943299fb1cdc6dbaceea7", oauth_nonce="b061e2d4983cf0c7b208461fc7fa6bac",
        oauth_signature="OVQoLZNy6oXoYFUjBWfCc2rKnNQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376278090", oauth_token="33f014c5380c47cc74ac3c6698f2d025",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Www-Authenticate:
      - OAuth realm="https%3A%2F%2Fapi06.fitbit.com"
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"errors":[{"errorType":"oauth","fieldName":"oauth_access_token","message":"Invalid/expired
        user token: 33f014c5380c47cc74ac3c6698f2d025"}]}'
  recorded_at: Mon, 12 Aug 2013 03:28:10 GMT
[...]
- request:
    method: post
    uri: https://api.fitbit.com/1/user/-/body/log/fat.json
    body:
      encoding: US-ASCII
      string: fat=23.0&date=2013-05-31
    headers:
      Authorization:
      - OAuth oauth_consumer_key="10376ff9b94943299fb1cdc6dbaceea7", oauth_nonce="347e4fa7a44d835a5e32675a75d7d397",
        oauth_signature="KEVi14zJbjKfNtti2Q2gEIeBEqw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376278167", oauth_token="1627f8fce6f11ebcf687ad26335d2ce7",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Www-Authenticate:
      - OAuth realm="https%3A%2F%2Fapi11.fitbit.com"
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"errors":[{"errorType":"oauth","fieldName":"oauth_access_token","message":"Invalid/expired
        user token: 1627f8fce6f11ebcf687ad26335d2ce7"}]}'
  recorded_at: Mon, 12 Aug 2013 03:29:27 GMT
recorded_with: VCR 2.5.0
