# PostgreSQL. Versions 8.2 and up are supported.
#
development:
  adapter: postgresql
  encoding: unicode
  database: my_weight_tracker_development
  pool: 5
  username: my_weight_tracker
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: my_weight_tracker_test
  pool: 5
  username: my_weight_tracker
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: my_weight_tracker_production
  host: localhost
  pool: 5
  username: my_weight_tracker
  password:
